body {
  background-color: white;
}
.perfil-superior {
  border-right: 5px solid #00c8ee;

  width: 600px;
  height: 360px;
}
.container-perfil {
  width: 100%;
}
.img-perfil-usuario {
  background-color: #00c8ee;
  height: 120px;
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: space-between;
}
.dados-usuario img {
  width: 110px;
  border-radius: 50%;
  transform: translateY(-45px);
  padding: 10px;
}
.dados-usuario {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.img-perfil-usuario h1 {
  padding-top: 20px;
  text-align: center;
  color: white;
  font-weight: bolder;
}
.img-perfil-usuario h2 {
  color: white;
  padding-left: 10px;
}

.container-dados-usuario p {
  margin-top: 10px;
  font-size: 20px;
  color: black;
  padding: 10px;
  align-items: center;
}
.charts-perfil {
  display: flex;
  flex-direction: row;
  gap: 250px;

  justify-content: space-around;
}
.perfis-ambos {
  display: flex;
  flex-direction: row;
}
.perfil-inferior {
  padding-top: 2rem;
  border-top: 5px #00c8ee solid;
  padding-left: 3rem;
}
.perfil-nome-cargo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.icon-return {
  font-size: 30px;
  color: white;
}
