body {
  margin-top: 0;
}
.containerHome {
  background-image: linear-gradient(180deg, #6efdc9, #2d30f3);
  min-height: 100vh;
  min-width: 100%;
}

.containerHome h1 {
  color: #05395e;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 80px;
  text-align: left;
  margin-left: 4%;
}

.cards {
  width: 100%;
  padding: 05px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.cardstyle {
  opacity: 1;
  background-color: #03528a;
  border: 5px solid #00f59d;
  border-top: 18px solid #00f59d;

  border-radius: 8px;
  width: 300px;
  height: 150px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s;
  padding: 15px;
}

.cardstyle img {
  width: 100%;
  height: auto;
}

.cardstyle:hover {
  transform: translateY(-10px);
}

.cardstyle h2 {
  color: #00c8ee;
  font-size: 25px;
  margin: 0 0 10px;
}

.cardstyle p {
  font-size: 20px;
  color: #00f59d;
}

.cardstyle a {
  color: #f6fefd;
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
}

.icon {
  height: 80%;
  color: #00f59d;
  padding-right: 3px;
}
