body {
  margin-top: 0;
}
.containerHome {
  background-color: white;
  min-height: 100vh;
  min-width: 100%;
}

.containerHome h1 {
  color: black;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 80px;
  text-align: left;
  margin-left: 4%;
}

.cards {
  width: 100%;
  padding: 05px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.cardstyle {
  opacity: 1;
  background-color: white;
  border: 0.5px solid black;

  text-align: center;
  border-radius: 5px;
  width: 350px;
  height: 170px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s;
  padding: 15px;
}

.cardstyle img {
  width: 100%;
  height: auto;
}

.cardstyle:hover {
  transform: translateY(-10px);
}

.cardstyle h2 {
  color: black;
  font-size: 25px;
  margin: 0 0 10px;
}

.cardstyle p {
  font-size: 50px;
  color: #48718c;
}

.cardstyle a {
  color: #f6fefd;
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
}

.icon {
  height: 80%;
  color: white;
  padding-right: 3px;
}

#chart {
  max-width: 650px;
  margin: 35px auto;
}

.charts-style {
  display: flex;
  flex-wrap: wrap;
  gap: 150px;

  width: 100%;
  margin-top: 50px;
}
