#navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 0;
  background-position: top;
  background-size: auto;
  background-color: #48718c;
  width: 100%;
  height: 7%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.menu-icon {
  display: none;
}

@media (max-width: 768px) {
  .menu-icon {
    display: block;
    font-size: 24px;
    cursor: pointer;
  }
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

@media (max-width: 768px) {
  nav ul {
    display: none; /* Escondido por padrão em telas menores */
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 10px;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
  }

  /* Exibir menu quando a classe 'active' for adicionada */
  nav ul.active {
    display: flex;
  }

  /* Ajusta o layout para o ícone de menu */
}

li {
  font-size: 19px;
  padding: 15px;
}

a {
  text-decoration: none;
  color: #fff;
  opacity: 0.7;
  transition: 0.3s;
}

a:hover {
  opacity: 1;
}

body {
  padding-top: 10px;
}

img {
  border-radius: 2px;
  opacity: 1;
  width: 150px;
  height: 50%;
}

.img-perfil {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.perfil-navbar {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2px;
}
.perfil-navbar p {
  padding-top: 12px;
  justify-content: center;
  color: black;
}
.icon-logoff {
  color: white;
  font-size: 40px;
}

@media (max-width: 768px) {
  .perfil-navbar,
  .icon-logoff {
    display: none;
  }
}
