.container-footer {
  display: flex;
  flex-direction: row;
  gap: 150px;
  justify-content: center;
  width: 100%;
  margin-top: 2rem;
  background-image: linear-gradient(#00cbe8, #0ccc84);
  position: relative;
  background-position: bottom;
  padding: 1rem;
  padding-bottom: 2.1%;
  margin-bottom: 0;
  flex-wrap: wrap;
}

.icon-footer-facebook,
.icon-footer-maps,
.icon-footer-linkedin,
.icon-footer-insta,
.icon-footer-wpp,
.icon-footer-email,
.icon-footer-phone {
  font-size: 30px;
  border-radius: 15px;
  padding: 5px;
}

.icon-footer-facebook {
  color: blue;
  background-color: white;
}

.icon-footer-maps {
  color: red;
  background-color: white;
}

.icon-footer-linkedin {
  background-color: white;
  color: rgb(53, 161, 250);
  border-radius: 3px;
}

.icon-footer-insta {
  background-image: linear-gradient(
    to bottom right,
    red,
    yellow,
    rgb(248, 37, 195),
    purple
  );
  border-radius: 5px;
}

.icon-footer-wpp {
  color: white;
  background-color: green;
  font-size: 20px;
}

.icon-footer-email {
  background-color: white;
  color: red;
  font-size: 20px;
}

.icon-footer-phone {
  background-color: rgb(53, 161, 250);
  color: white;
  font-size: 20px;
}

.container-footer h2 {
  color: black;
  padding-top: 2rem;
}

.container-footer p {
  color: black;
  padding: 5px;
  font-size: 17px;
}

.mais {
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: top;
}

/* Responsividade para telas médias */
@media (max-width: 1024px) {
  .container-footer {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  .container-footer h2 {
    font-size: 1.5rem;
    padding-top: 1rem;
    text-align: center;
  }

  .container-footer p {
    text-align: center;
    font-size: 1rem;
  }
}

/* Responsividade para telas pequenas */
@media (max-width: 768px) {
  .container-footer {
    padding: 1rem;
    gap: 20px;
  }

  .icon-footer-facebook,
  .icon-footer-maps,
  .icon-footer-linkedin,
  .icon-footer-insta,
  .icon-footer-wpp,
  .icon-footer-email,
  .icon-footer-phone {
    font-size: 25px;
    padding: 4px;
  }

  .container-footer h2 {
    font-size: 1.25rem;
  }

  .container-footer p {
    font-size: 0.9rem;
  }
}
