html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
* {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  box-sizing: border-box;
  text-shadow: #000 1px 1px;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("assets/newlogin.jpg");
  background-size: cover;
  background-position: center;
}
